html,
body {
  padding: 0%;
  margin: 0%;
  margin-bottom: 0%;
}
.content {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.slidbar {
  background-color: #1992d4;
  text-align: center;
  height: 100%;
}
.header {
  background-color: white;
}
.main {
  background-color: #e2e8f0;
}
.sub {
}
.main {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
.sub2 {
  gap: 5px;
  margin: 0%;
}
.data {
  text-align: start;
  margin-left: 25%;
}
.top {
  display: flex;
  justify-content: space-around;
}
.bottom {
  display: flex;
  justify-content: space-around;
}
.bottom .left {
  display: flex;
}
.bottom .right {
  display: flex;
}
.projects {
  background-color: #e2e8f0;
  margin: 2%;
  height: 0%;
}
.project {
  background-color: #ffffff;
  padding: 0%;
  box-shadow: -10px 0 0px 0px gold;
  text-align: center;
  height: 150px;
}
.Annoucement {
  background-color: #ffffff;
  border-radius: 10px;
  height: 68px;
}
.Annoucements {
  margin: 0%;
  font-size: 10px;
  text-align: center;
}
.group {
  background-color: #ffffff;
  border-radius: 14px;
}
.trending {
  background-color: #ffffff;
  border-radius: 10px;
  height: 50px;
  display: flex;
  text-align: center;
  margin-left: 10%;
  justify-content: center;
}
.trending img {
  height: 33px;
  padding: 0%;
  margin-top: 50%;
  border-radius: 24px;
}
